.container{
    width: auto;
    height: auto;
    float: left;
    background: url("../images/lightblue.jpg");
}

.crystals {
    background: darkorange;
    color: white;
    font-family: comic 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.rules {
    background: peachpuff;
    color: green;
}

#random {
    background: seagreen;
    padding: 60px;
}

.w-l {
    background: aqua;
    padding: 20px;
}

.total{
    background: darkgreen;
    color: white;
}

.score {
    background: darkgreen;
    padding: 60px;
    color: white;
}

.gem1, .gem2, .gem3, .gem4 {
    background: white;
   
}






